Pods/Pods.xcodeproj/xcuserdata/matac.xcuserdatad/xcschemes/xcschememanagement.plist
Pulse.xcodeproj/xcuserdata/matac.xcuserdatad/xcschemes/xcschememanagement.plist
Pulse.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Pulse.xcworkspace/xcuserdata/matac.xcuserdatad/UserInterfaceState.xcuserstate
